footer {
    bottom: 0;
    position: absolute;
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}
div {
    margin-top: 20px;
}