.filters {
    color: white;
    height: 10px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
    justify-content: end;
}
button {
    margin-top: 11px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
}