.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: auto;
    margin-right:auto;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-30px, -50%);
}

button:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); /*not widely supported */ 
}
.locations {
    margin-top: 0;
    height: 100%;
    border: none;
    border-right: 1px solid #DDDDDD;
    width: 25%;
    position: relative;
}
.locations div h3 h4 {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD;
}
h3 {
    font-weight: 600;
}
h4 {
    margin-bottom: 20px;
    font-weight: 400;
    padding: 0;
}
.amenities {
    margin-top: 0;
    height: 100%;
    border: none;
    border-right: 1px solid #DDDDDD;
    width: 25%;
    position: relative;
}
.amenities div {
    height: 100%;
    width: 25%;
}
.popover {
    display: none;
    list-style-type: none;
    width: 100%;
    border:1px solid #DDDDDD;
    border-radius: 4px;
    margin: top -10px;
    padding:0;
    margin:0;
}
.locations:hover .popover, .amenities:hover .popover {
    display: block;
}
.sub {
    list-style-type: none;
    padding:0;
    margin:0;
}